<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/oliviergirardot/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/OGmusik" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="mailto:olivier@ogsoundfx.com"><i class="fa fa-envelope"></i></a>
  </div>
</div>
